<% include ./partials/header.ejs %>

<div class="profile text-white">
  <div class="profile-info py-8 text-center">
    <!-- <div class="space-y-2"> -->
    <div class="relative flex justify-center w-fit m-auto">
      <div class="image relative w-32 h-32 rounded-full overflow-hidden">
        <div class="delete opacity-0">
          <% if (self === true && user.dp) { %>
          <div
            class="overlay absolute w-full h-full bg-zinc-500 opacity-60 transition-all"
          ></div>
          <a
            href="/delete-dp"
            class="absolute left-1/2 top-1/2 [transform:translate(-50%,-50%)]"
          >
            <span class="material-symbols-outlined"> delete </span>
          </a>
          <% } %>
        </div>
        <% if (user.dp) { %>
        <img
          class="w-full h-full object-cover"
          src="/images/uploads/<%= user.dp %>"
        />
        <% } else { %>
        <img
          class="w-full h-full object-cover"
          src="/images/siteImages/userWithoutDp.jpg"
        />
        <% } %>
      </div>
      <% if (self === true) { %>
      <button class="upload-btn">
        <span
          class="material-symbols-outlined absolute bottom-1 right-1 bg-zinc-500 rounded-full p-2 scale-75"
        >
          edit
        </span>
        <form
          hidden
          class="upload-form"
          action="/fileupload"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="file" name="dp" />
        </form>
      </button>
      <% } %>
    </div>
    <div class="name text-2xl font-bold mt-3"><%= user.fullname %></div>
    <div class="username opacity-50">@<%= user.username %></div>
    <% if (self === true) { %>
    <a href="/edit-info">
      <button class="edit py-1 px-5 text-sm bg-zinc-500 rounded mt-5">
        Edit
      </button>
    </a>
    <a href="/add">
      <button class="add py-1 px-5 bg-red-700 rounded mt-5 block m-auto mb-5">
        Add Post
      </button>
    </a>
    <% } %>
    <!-- </div> -->
  </div>

  <div class="boards px-5 flex gap-4 flex-wrap">
    <!-- All Pins -->
    <a href="/pins/<%= user._id %>">
      <div class="card">
        <div class="image rounded w-40 h-32 overflow-hidden">
          <% if (user.posts.length === 0) { %>
          <img
            src="https://img.freepik.com/premium-vector/document-with-plus-button-line-icon-word-processor-text-editor-digital-add-create-new-file-documentation-file-management-concept-glassmorphism-vector-line-icon-business-advertising_661108-2177.jpg?w=740"
            alt="folder image"
            class="object-cover size-full"
          />
          <% } else { %>
          <img
            src="/images/uploads/<%= user.posts[0].image %>"
            alt="folder image"
            class="object-cover size-full"
          />
          <% } %>
        </div>
        <div class="folder-name font-bold my-1">All Pins</div>
        <div class="pins text-xs text-zinc-400">
          <%= user.posts.length %> <%= user.posts.length === 1 ? `Pin` : `Pins`
          %>
        </div>
      </div>
    </a>
    <!-- Saved Pin -->
    <% if (self === true) { %>
    <a href="/bookmarks">
      <div class="card">
        <% if (user.bookmarks.length === 0) { } else { %>
        <div class="image rounded w-40 h-32 overflow-hidden">
          <img
            src="/images/uploads/<%= user.bookmarks[0].image %>"
            alt="folder image"
            class="object-cover size-full"
          />
        </div>
        <div class="folder-name font-bold my-1">Saved Pins</div>
        <div class="pins text-xs text-zinc-400">
          <%= user.bookmarks.length %> <%= user.bookmarks.length === 1 ? `Pin` :
          `Pins` %>
        </div>
        <% } %>
      </div>
    </a>
    <% } %>
  </div>
</div>

<script>
  document.querySelector(".upload-btn").addEventListener("click", () => {
    // transfer the click to the file input form
    document.querySelector(".upload-form input").click();
  });
  document
    .querySelector(".upload-form input")
    .addEventListener("change", () => {
      // submit the form
      document.querySelector(".upload-form").submit();
    });
  const deleteOverlay = document.querySelector(".delete");
  document.querySelector(".image").addEventListener("mouseover", () => {
    deleteOverlay.style.opacity = "1";
  });
  document.querySelector(".image").addEventListener("mouseout", () => {
    deleteOverlay.style.opacity = "0";
  });
</script>

<% include ./partials/footer.ejs %>
